html, body {
  width: 100%;
  height: 100%;
}

.baseDiv {
  background-color: #eeeeee;
  background-attachment:fixed ;
  background-size: cover;
  min-height: 100vh;
}

.appbar { 
  color: white;
  background-color: black;
}

.appbarWrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-content: center;
}

.appbarItem {
  flex-grow: 1;
  flex-shrink: 1;
}

.detailBannerHeading{
  color: white;
  font-size: x-large;
  margin: 0;
  font-weight: bold;
}

.detailBannerLegend {
  margin: 5% 0 2% 0;
  font-weight: bold;
}

.bannerContainer {
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 4%;
}

h5.jobCardTitle {
  margin-bottom: 0;
}

h6.jobCardTitle {
  margin-bottom: 0;
  font-weight: bold;
}
