.App {
  background-color: '#eeeeee';
  background-position: 'cover';
}

.appbar { 
  color: white;
  background-color: black;
}

.appbarWrapper {
  width: '90vw';
  margin: 0 auto;
}

.detailBannerHeading{
  color: white;
  font-size: x-large;
  margin: 0;

}

.detailBannerLegend {
  margin: 5% 0 2% 0;
}