.App {
  background-color: '#eeeeee';
  background-position: 'cover';
}

.appbar { 
  background-color: '#000000';
  color: white;
}

.detailBannerHeading{
  color: white;
  font-size: x-large;
  margin: 0;

}

.detailBannerLegend {
  margin: 5% 0 2% 0;
}